@import "base/variables";

.logo {
  width:200px;
}

.center-all {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.hero {
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.header {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.h5 {
  text-align: center;
  margin: 0;
}
.nav {
  transform: translateY(50%);
  font-weight: bold;
}

.nav a {
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 3vh;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.dot_green, .dot_red {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  display: inline-block
}

html {
  min-height: 100%
}

body {
  height: 100%;
  background-image: linear-gradient(127deg, #001f3f 5%, #0074D9 100%);
  /*background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);*/
}

button.button-primary {
  background-color: rgba(0, 49, 102, 0);
  color: #ff9734;
  border-color: #ff9734
}

button.button-primary:hover {
  background-color: #ff9734;
  color: #fff;
  border-color: #ff9734
}

button.button-primary:focus {
  background-color: #003166;
  color: #fff;
  border-color: #9a4e0b
}

input {
  color: #000;
}

.custom-select {
}

.custom-select select {
  padding: 0.675em 6em 0.675em 1em;
  background-color: white;
  border-radius: 0.25rem;
  color: black;
  cursor: pointer;
  height: max-content;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  top: 40%;
}

.custom-select::after {
  top: 55%;
}

.dot_green {
  background-color: #68b838
}

.dot_red {
  background-color: #f63e3e
}

.image-fullwidth {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

li {
  margin: auto;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.donate_div {
  margin: 1rem;
}

.paypal_button {
  background-color: #fff;
  width: 217px;
  padding: 0.4em 2em;
  border-radius: 0.6em
}

progress[value] {
  --color: $primary-color; /* the progress color */
  --background: #f3f3f3; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  margin: 0 10px;
  border-radius: 0.2em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 0.2em;
  background: #f3f3f3;
}
progress[value]::-webkit-progress-value {
  border-radius: 0.2em;
  background: $primary-color;
}
progress[value]::-moz-progress-bar {
  border-radius: 0.2em;
  background: $primary-color;
}

