@import "base/variables";

.logo {
  width: 200px;
}

.center-all {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  text-align: center;
  padding: 5rem;
}

.header {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.h5 {
  text-align: center;
  margin: 0;
}
.nav {
  transform: translateY(50%);
  font-weight: bold;
}

.nav a {
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 3vh;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.dot_green, .dot_red {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  display: inline-block
}

html {
  min-height: 100%
}

body {
  height: 100%;
  background-image: linear-gradient(127deg, #001f3f 5%, #0074D9 100%);
  /*background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);*/
}

button.button-primary {
  background-color: rgba(0, 49, 102, 0);
  color: #ff9734;
  border-color: #ff9734
}

button.button-primary:hover {
  background-color: #ff9734;
  color: #fff;
  border-color: #ff9734
}

button.button-primary:focus {
  background-color: #003166;
  color: #fff;
  border-color: #9a4e0b
}

input, select {
  color: #000;
}

.dot_green {
  background-color: #68b838
}

.dot_red {
  background-color: #f63e3e
}
