menu "DroneBridge for ESP32 Configuration"

    choice
        prompt "Serial interface for data."
        default DB_SERIAL_OPTION_UART
        help
            Select serial interface.
            USB/JTAG on the official HWv1.x boards for DroneBridge for ESP32 is connected to the USB-C port. 
            By using this port a ground station can connect to the ESP32 without the use of an UART-to-USB adapter.
            Intended for use on ground station ESP32 units directly connected to a GCS computer via USB.
            Requires ESP_CONSOLE_SECONDARY_NONE set to yes.
            WARNING: No logging available via USB port when USB/JTAG option is selected. Use debugging UART0 as specified by console settings for logging and diagnostics.
        config DB_SERIAL_OPTION_UART
            bool "UART"
            help
                Use the UART specified in the web interface for serial communication.
        config DB_SERIAL_OPTION_JTAG
            bool "USB/JTAG"
			depends on ESP_CONSOLE_SECONDARY_NONE
            help
                Use the JTAG interface for serial communication. 
                This inferface is attached to the USB port of the official DroneBridge for ESP32 PCB in HW v1.x versions.
                A ground control station can connect to the USB port directly without having to use a FTDI in between.
                Not intended for connecting to a UAV etc. Use native UART instead.
                WARNING: No logging available via USB port.
    endchoice

    choice WEB_DEPLOY_MODE
        prompt "Website deploy mode"
        default WEB_DEPLOY_SF
        help
            Select website deploy mode.
            You can deploy website to host, and ESP32 will retrieve them in a semihost way (JTAG is needed).
            You can deploy website to SD card or SPI flash, and ESP32 will retrieve them via SDIO/SPI interface.
            Detailed operation steps are listed in the example README file.
        config WEB_DEPLOY_SEMIHOST
            bool "Deploy website to host (JTAG is needed)"
            help
                Deploy website to host.
                It is recommended to choose this mode during developing.
        config WEB_DEPLOY_SF
            bool "Deploy website to SPI Nor Flash"
            help
                Deploy website to SPI Nor Flash.
                Choose this in production mode or if the size of website is small (less than 2MB).
    endchoice

    if WEB_DEPLOY_SEMIHOST
        config HOST_PATH_TO_MOUNT
            string "Host path to mount (e.g. absolute path to web dist directory)"
            default "PATH-TO-WEB-DIST_DIR"
            help
                When using semihost in ESP32, you should specify the host path which will be mounted to VFS.
                Note that only absolute path is acceptable.
    endif

    config WEB_MOUNT_POINT
        string "Website mount point in VFS"
        default "/www"
        help
            Specify the mount point in VFS.

endmenu
