name: ESP-IDF build
on:
  push:
    branches:
      - master
      - v2.0dev
  pull_request:
    branches: [ master ]

jobs:
  build_idf_v5_4_2_generic:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ["esp32", "esp32s2", "esp32s3", "esp32c3", "esp32c6"]
      fail-fast: false
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
        submodules: 'recursive'
    - name: Generic ESP-IDF v5.4.2 target build
      uses: ./.github/actions/esp-idf-5_4_2-with-node
      with:
        target: "${{ matrix.target }}"
        command: "idf.py set-target ${{matrix.target}} build"
  build_idf_v5_4_2_nightly_release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}
        submodules: 'recursive'
    - name: Release config build ESP-IDF v5.4.2
      uses: ./.github/actions/esp-idf-5_4_2-with-node_nightly
      with:
        command: "bash ./create_release_zip.sh"
    - uses: actions/upload-artifact@v4
      with:
        name: DroneBridge_ESP32_nightly
        path: DroneBridge_ESP32_nightly
